@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  /* outline: 1px dotted red; */
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeedeb;
  color: #3c3633;
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 64px 0;
}

h1 {
  font-size: 42px;
}

header p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

header a {
  text-decoration: none;
  color: #637a9f;
}

.scores .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.player-score,
.computer-score {
  height: 275px;
  width: 300px;
  background-color: #e8c872;
  text-align: center;
  font-weight: 600;
  border-radius: 12px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weapons {
  text-align: center;
  margin: 36px 0;
}

.weapons button {
  background-color: #637a9f;
  color: #fff3cf;
  width: 120px;
  padding: 6px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 6px;
  margin-top: 18px;
  font-family: 'Lobster', sans-serif;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 18px;
}

footer a {
  color: #3c3633;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.round {
  text-align: center;
  font-size: 28px;
  margin-bottom: 18px;
  color: #637a9f;
  font-family: 'Lobster', sans-serif;
}

.reset {
  display: flex;
  justify-content: center;
}

#restart-button {
  background-color: #637a9f;
  color: #fff3cf;
  width: 150px;
  padding: 6px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'Lobster', sans-serif;
  display: none;
  font-size: 18px;
}

.message {
  max-width: 600px;
  word-wrap: break-word;
  display: flex;
  margin: 0 auto;
}
